NEXT_PUBLIC_SITE_URL=https://www.biz2lab.com
NEXT_PUBLIC_PAGEFIND_ENABLED=false
NEXT_PUBLIC_CONTACT_EMAIL=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
